# 31. 
다음 리스트의 내장함수의 시간 복잡도가 O(1)이 아닌것은?

1)  l[i]

2)  l.append(5)

3)  l[a:b]

4)  l.pop()

5)  l.clear()

In [1]:
# 답 : 3번

# 32. 
취업 준비생인 혜림이는 자기소개서를 쓰고 있습니다. 열심히 자기소개서를 작성하던 도중 혜림이는 자기가 지금까지 단어를 얼마나 적었는지 궁금하게 됩니다. 

혜림이를 위해 **문자열을 입력받으면 단어의 갯수를 출력하는 프로그램**을 작성해 주세요.

```python
**입출력**

입력 : 안녕하세요. 저는 제주대학교 컴퓨터공학전공 혜림입니다.
출력 : 5
```

In [15]:
a = input()
b = list(a.split())
print(len(b))

안녕하세요. 저는 제주대학교 컴퓨터공학전공 혜림입니다.
5

In [16]:
a = input()
b = list(a.strip().split())
print(len(b))

안녕하세요. 저는 제주대학교 컴퓨터공학전공 혜림입니다.
5

# 33.
한 줄에 여러개의 숫자가 입력되면, 역순으로 그 숫자들을 하나씩 출력하는 프로그램을 작성하시오.

```python
**입출력**

입력 : 1 2 3 4 5
출력 : 5 4 3 2 1

입력 : 2 4 6 7 8
출력 : 8 7 6 4 2
```

In [24]:
a = list(input().strip().split())
for i in range(len(a)-1,-1, -1):
    print(a[i], end = ' ')

1 2 3 4 5
5 4 3 2 1

# 34.
민주는 체육부장으로 체육시간이 되면 반 친구들이 제대로 키 순서대로 모였는지를 확인해야 한다. 그런데 요즘 민주는 그것이 너무 번거롭게 느껴져 한 번에 확인하고 싶어한다. 

민주를 위해 **키가 주어지면 순서대로 제대로 섰는지 확인하는 프로그램**을 작성해보자.

**입출력 예시**

```
입력 : 176 156 155 165 166 169
출력 : NO
```

In [46]:
a = list(input().strip().split())
if a == sorted(b):
    print("Yes")
else:
    print("No")

176 156 155 165 166 169
No

# 35.
2제곱, 3제곱, 4제곱을 할 수 있는 Factory 함수를 만들려고 합니다. 

- <pass>에 코드를 작성하여 two함수를 완성하세요.

```python
def one(n):
    def two():
        <pass>
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))
```

In [49]:
def one(n):
    def two(m):
        result = m ** n
        return result
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

# 36.
1~9까지의 숫자 중 하나를 입력하면 그 단의 구구단 결과를 한 줄에 출력하는 프로그램을 작성하세요.

>> 입력

```python
2
```

>> 출력

```python
2 4 6 8 10 12 14 16 18
```

In [51]:
dan = int(input())
for i in range(1, 10):
    print(dan * i, end=' ')

2
2 4 6 8 10 12 14 16 18

# **37.
새 학기를 맞아 호준이네 반은 반장 선거를 하기로 했습니다.  그런데 표를 하나씩 개표하는 과정이 너무 번거롭게 느껴진 당신은 **학생들이 뽑은 후보들을 입력받으면 뽑힌 학생의 이름과 받은 표 수를 출력하는 프로그램**을 작성하기로 하였습니다.

```python
**입력**
원범 원범 혜원 혜원 혜원 혜원 유진 유진

**출력**
혜원(이)가 총 4표로 반장이 되었습니다.
```

In [65]:
data = input().split() #입력받음
data_set = set(data) #입력받은 문자열에서 중복 제거
data_dict = {} 
for key in data_set: #key값 : 이름
    data_dict[key] = data.count(key) #valuse값 : 득표 수

print(f'{max(data_dict, key=data_dict.get)}(이)가 총 {max(data_dict.values())}표로 반장이 되었습니다.')

원범 원범 혜원 혜원 혜원 혜원 유진 유진
혜원(이)가 총 4표로 반장이 되었습니다.

# **38
호준이는 아르바이트로 영어 학원에서 단어 시험지를 채점하는 일을 하고 있다. 호준이가 일하는 학원은 매번 1위부터 3위까지의 학생에게 상으로 사탕을 준다. 그런데 오늘은 마침 사탕이 다 떨어져서 호준이가 채점을 하고 점수를 보내면, 당신이 아이들의 숫자만큼 사탕을 사러 가기로 했다.

학생들의 점수를 공백으로 구분하여 입력받는다. 1위~ 3위 학생은 여러명일 수 있고 1~3위 학생 중 중복되는 학생까지 포함하여 사탕을 사기로 한다.

- 학생 수는 4명 이상입니다.
- 숫자 외에 다른 값은 입력되지 않습니다.

```
점수입력 : 97 86 75 66 55 97 85 97 97 95
출력 : 6
```

In [92]:
score = input().split()
score = [int(i) for i in score]

student = 0

if len(set(score)) <= 3:
    student = len(score)
else:
    break_point = sorted(list(set(score)), reverse = True) [3]
    score_sorted = sorted (score, reverse = True)
    for i in score_sorted:
        if break_point == i:
            break
        else:
            student += 1
print(student)

97 86 75 66 55 97 85 97 97 95
6

# 39.
혜원이는 평소 영타가 빠르고 정확한 것을 친구들에게 자랑하고 다녔습니다. 반 친구들이 혜원이의 타자 속도가 빠르다는 것을 모두 알게 되자 혜원이는 모두의 앞에서 타자 실력을 보여주게 됩니다. 

그런데 막상 보여주려니 긴장이 되서 문장의 모든 e를 q로, n을 b로 잘못 친 것을 발견했습니다. 
혜원이는 프로그램을 돌려 재빠르게 모든 q를 e로, b를 n으로 바꾸는 프로그램을 작성하려고 합니다.

**문장이 입력되면 모든 q를 e로, b를 n으로 바꾸는 프로그램을 작성해 주세요.**

- 완성하려는 문장 안에 q나 b가 들어가지 않는다고 가정합니다.

```python
**입출력**

입력 : querty
출력 : euerty

입력 : hqllo my bamq is hyqwob
출력 : hello my bame is hyewob
```

In [69]:
a = input()

print(a.replace('q','e').replace('b','e'))

hqllo my bamq is hyqwob
hello my eame is hyewoe

In [70]:
a = input()

print(a.replace('q','e').replace('b','e'))

querty
euerty

# *40
테마파크에 온 원범이와 친구들은 놀이기구를 타려고 합니다. 모든 놀이기구는 한번에 타는 인원수에는 제한이 없지만 제한 무게를 넘으면 무조건 다음 기구를 타야 합니다. 

**원범이와 친구들이 총 몇 명 탈 수 있는지 알 수 있는 프로그램을 작성해 주세요.**

첫번째 줄에서 제한 무게가 주어지고 두번째 줄에서는 함께한 친구들의 수 n이 주어집니다. 
그 다음 차례대로 탑승할 친구들의 몸무게가 주어집니다. 몸무게는 무작위로 주어집니다.

- 단, 놀이기구는 선착순으로만 탈 수 있습니다.
- 두 명 이상의 인원이 항상 탑승합니다.

```python
**입력**

50
5
20
20
20
20
20

**출력**
2
```

In [81]:
전체무게 = 0
제한수 = 0
limit=int(input()) #제한 몸무게
n = int(input()) #친구수

for i in range(n):
    total += int(input()) # 친구들 몸무게
    if total <= limit:
        count += 1
print(count)

50
5
20
20
20
20
20
2

In [82]:
제한무게 = int(input())
친구수 = int(input())
친구몸무게 = []
전체몸무게 = 0
제한인원수 = 0
비교 = True

for i in range(친구수):
    친구몸무게.append(float(input()))
    전체몸무게 += 친구몸무게[i]
    if 전체몸무게 > 제한무게:
        if 비교:
            비교 = False
            제한수 = i
if 제한수 == 0 and 친구몸무게[0] <= 제한무게:
    print(len(친구몸무게))
else:
    print(제한수)

50
5
20
20
20
20
20
2

# 41
숫자가 주어지면 **소수인지 아닌지 판별하는 프로그램**을 작성해주세요.
소수이면 YES로, 소수가 아니면 NO로 출력해주세요.

- 소수 : 1과 자기 자신만으로 나누어떨어지는 1보다 큰 양의 정수
- 음의 소수는 고려하지 않습니다.

In [99]:
#에라토스테네스의 체 (소수 찾기)
n=3
a = [False,False] + [True]*(n-1)
primes=[]
for i in range(2,n+1):
  if a[i]:
    primes.append(i)
    for j in range(2*i, n+1, i):
        a[j] = False
print(primes)

[2, 3]

In [101]:
#에라토스테네스의 체를 이용한 소수 판별
def chech_prime(n):
    if n <= 1:
        return "No"
    if n == 3:
        return "Yes"
    
    i = 2
    소수 = True
    while (i ** 2) < n:
        if n % i == 0:
            소수 = False
            break
        i += 1
        if 소수:
            return "Yes"
        else:
            return "No"
print(chech_prime(3))

Yes

In [102]:
#에라토스테네스의 체를 이용한 소수 판별
def chech_prime(n):
    if n <= 1:
        return "No"
    if n == 3:
        return "Yes"
    
    i = 2
    소수 = True
    while (i ** 2) < n:
        if n % i == 0:
            소수 = False
            break
        i += 1
        if 소수:
            return "Yes"
        else:
            return "No"
print(chech_prime(23))

Yes

# 42
2020년 1월 1일은 수요일입니다. 2020년 a월 b일은 무슨 요일일까요?
두 수 a, b를 입력받아 2020년 a월 b일이 무슨 요일인지 리턴하는 함수, solution을 완성하세요.
요일의 이름은 일요일부터 토요일까지 각각 SUN, MON, TUE, WED, THU, FRI, SAT 입니다.

예를 들어 a = 5, b = 24라면 5월 24일은 일요일이므로 문자열 "SUN"를 반환하세요.

**제한 조건**

- 2020년은 윤년입니다.
- 2020년 a월 b일은 실제로 있는 날입니다. 
(13월 26일이나 2월 45일 같은 날짜는 주어지지 않습니다.)
- datetime 모듈을 사용하세요.

In [105]:
import datetime
a = int(input())
b = int(input())

def solution(a, b):
    day = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]
    return day[datetime.date(2020, a, b).weekday()]
print(solution(a, b))

5
24
SUN

# 43
우리가 흔히 사용하는 숫자 1, 8, 19, 28893 등등...은 10진수 체계입니다.
이를 컴퓨터가 알아 들을 수 있는 2진수로 바꾸려고 합니다. 어떻게 해야할까요?

예를들어 13은 2^3 + 2^2 + 2^0 = 13 이기때문에 1101으로 표현합니다

사용자에게 숫자를 입력받고 이를 2진수를 바꾸고 그 값을 출력해주세요.
(bin 함수를 사용하지 않고 풀어주세요.)

In [110]:
a = int(input())
b = []
while a:
    b.append(str(a % 2))
    a = int(a / 2)
b.reverse()
print(''.join(b))

13
1101

# 44
사용자가 입력한 양의 정수의 각 자리수의 합을 구하는 프로그램을 만들어주세요

예를들어
18234 = 1+8+2+3+4 이고 정답은 18 입니다.
3849 = 3+8+4+9 이고 정답은 24입니다.

In [113]:
result = 0
for i in input():
    result += int(i)
print(result)

1234
10

# 45
python의 모듈 중 하나인 time 모듈은 1970년 1월 1일 0시 0분 0초 이후로부터 지금까지 흐른 시간을 초단위로 반환합니다

이를 이용하여 현재 연도(2021)를 출력해보세요

In [115]:
import time
t = time.time()
t = int(t//(3600*24*365)) + 1970

print(t)

2021

# 46
1부터 100까지의(100을 포함) 모든 숫자를 일렬로 놓고 모든 자릿수의 총 합을 구하세요. 

예를 들어 10부터 15까지의 모든 숫자를 일렬로 놓으면 101112131415이고 각 자리의 숫자를 더하면 25입니다.

In [122]:
s = ''
result = 0

for i in range(101):
    s += str(i)
for i in s:
    result += int(i)
print(result)

901

# 47
바울랩에서는 3월 29일 제주대학교에서 '제주 빅데이터 사회혁신 해커톤' 행사를 주최하게 되었습니다. 이에 구글 설문지를 배포하였으나 제주대학생들이 중복해서 n개씩 설문지를 제출하였습니다. **중복된 데이터들을 삭제하여 실제 접수 명단이 몇 명인지 알고 싶습니다.**

아래 주어진 데이터들로부터 중복을 제거하여 실제 접수 인원을 출력해 주세요.

```python
people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호', '01050443904'),
         ('이호준', '01050442903'),
         ]
```

In [124]:
people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호', '01050443904'),
         ('이호준', '01050442903'),
         ]
print(len(set(people)))

5

# 48
문자열이 주어지면 대문자와 소문자를 바꿔서 출력하는 프로그램을 작성하세요.

입력

```
AAABBBcccddd
```

출력

```
aaabbbCCCDDD
```

In [127]:
a = input()
b = []
for i in a:
    if i.islower():
        b.append(i.upper())
    else:
        b.append(i.lower())
for i in b:
    print(i, end ='')

AAABBBcccddd
aaabbbCCCDDD

# 49
순서가 없는 10개의 숫자가 공백으로 구분되어 주어진다. 주어진 숫자들 중 최댓값을 반환하라.

입력

```
10 9 8 7 6 5 4 3 2 1
```

출력

```
10
```

In [128]:
a = list(map(int,input().split()))
print(sorted(a)[-1])

10 9 8 7 6 5 4 3 2 1
10

# 50
아래 코드의 빈 칸을 채워 버블 정렬을 완성해 봅시다.

```python
def bubble(n, data):
	for i in range(n-1):
		for j in range(빈칸을 채워주세요):
			if data[j] > data[j+1]:
				빈칸을 채워주세요
	for i in range(n):
		print(data[i], end = " ")

n = int(input())
data = list(map(int, input().split()))

bubble(n, data)
```

In [134]:
def bubble(n, data):
    for i in range(n-1): #칸의 인덱스
        for j in range(n-i-1):
            if data[j] > data[j+1]:
                data[j], data[j+1] = data[j+1], data[j]
    for i in range(n):
        print(data[i], end = " ")

n = int(input()) #칸의 개수
data = list(map(int, input().split())) #칸에 있는 숫자

bubble(n, data)

5
4 2 3 5 8
2 3 4 5 8