# 2 : if

In [48]:
a, b = map(int, input().split(' '))

if a > b:
    print(" > ")
if a < b:
    print(" < ")
if a == b:
    print(" = ")

1 2
 <

In [50]:
s = int(input())

if s >= 90 and s <= 100:
    print('A')
elif s >= 80 and s < 90:
    print('B')
elif s >= 70 and s < 80:
    print('C')
elif s >= 60 and s < 70:
    print('D')
else:
    print('E')

100
A

In [55]:
a = int(input())

if (a % 4 == 0 and (a % 100 != 0 or a % 400 == 0)):
    print('1')
else:
    print('0')

1999
0

In [58]:
a = int(input())
b = int(input())

if (a > 0 and b > 0):
    print('1')
elif (a < 0 and b > 0):
    print('2')
elif (a < 0 and b < 0):
    print('3')
elif (a > 0 and b < 0):
    print('4')

9
-13
4

In [63]:
H, M = map(int, input().split(' '))

if (M - 45 >= 0):
    print(H, M - 45)
elif (M - 45 < 0):
    if H - 1 >= 0:
        print(H - 1, M + 15)
    else:
        print(H + 23, M + 15)

0 30
23 45

In [64]:
H, M = map(int, input().split(' '))

if (M - 45 >= 0):
    print(H, M - 45)
elif (M - 45 < 0):
    print(H - 1, M + 15)

10 10
9 25

# 3 : for

In [6]:
n = int(input())

for i in range(1, 10):
    print(n, " * ", i, " = ", n * i)

2
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

In [5]:
n = int(input())

for i in range(n):
    a,b = map(int, input().split())
    print(a+b)
    i += 1

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [12]:
n = int(input())
a = 0

for i in range(0, n + 1):
    a += i
    i +=1
print(a)

3
6

In [ ]:
import sys

n = int(input())
for i in range(n):
    a,b = map(int, sys.stdin.readline().split())
    print(a+b)
    i += 1

In [24]:
n = int(input())
for i in range(1, n + 1):
    print(i)
    i += 1

5
1
2
3
4
5

In [27]:
n = int(input())
for i in range(0, n):
    print(n - i)
    i += 1

5
5
4
3
2
1

In [29]:
n = int(input())

for i in range(1, n+ 1):
    a,b = map(int, input().split(' '))
    print("Case #{0}: ".format(i), a + b)

5
1 1
Case #1:  2
2 3
Case #2:  5
3 4
Case #3:  7
9 8
Case #4:  17
5 2
Case #5:  7

In [31]:
n = int(input())

for i in range(1, n+ 1):
    a,b = map(int, input().split(' '))
    print("Case #{0}: {1} + {2} = {3}".format(i, a, b, a+b))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [32]:
n = int(input())

for i in range(1, n + 1):
    print("*" * i)

5
*
**
***
****
*****

In [37]:
n = int(input())

for i in range(1, n + 1):
    print(" " * (n - i) + "*" * i)

5
    *
   **
  ***
 ****
*****

In [38]:
n = int(input())

for i in range(1, n + 1):
    print(" " * (n - i) , end = "")
    print("*" * i)

5
    *
   **
  ***
 ****
*****

In [47]:
n, x = map(int, input().split(' '))
num = list(map(int, input().split(' ')))

for i in range (n):
    if num[i] < x:
        print(num[i], end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

# 4 : while

In [68]:
while (True):
    a, b = map(int, input().split(' '))
    if a != 0 and b != 0:
        print(a + b)
    
    if a == 0 and b == 0:
        break

2 3
5
3 4
7
5 7
12
0 0

In [74]:
while True:
    try: #종속 문장 실행
        a, b = map(int, input().split(' '))
        print(a + b)
    except: #종속 문장 외 실행
        break

1 1
2
2 3
5
9 8
17
5 2
7
0

In [79]:
n = int(input())
temp = n
count = 0

while True :
    left = temp // 10 #왼쪽자리 수 #한자리 수의 경우 10으로 나눈 몫이 0임
    right = temp % 10 #오른쪽 자리 수 
    add = (left + right) % 10 
    temp = (right * 10) + add
    
    count += 1
    if temp == n:
        print(count)
        break

26
4

# 5 : 1차원 배열

In [80]:
n = int(input())
a = list(map(int, input().split()))

print(min(a), max(a))

5
20 10 35 30 7
7 35

In [85]:
A = []

for i in range(9):
    a = int(input())
    A.append(a)
print(max(A))
print(A.index(max(A)) + 1)

3
29
38
12
57
74
40
85
61
85
8

In [86]:
a = int(input())
b = int(input())
c = int(input())

d = a * b* c
e = list(map(int, str(d)))

for i in range(10):
    f = 0
    for j in e:
        if (j == i):
            f += 1
            
    print(f)

150
266
427
3
1
0
2
0
0
0
2
0
0

In [88]:
nums = set()
for i in range(10):
    nums.add(int(input()) % 42)
print(len(nums))

1
2
3
4
5
6
7
8
9
10
10

In [90]:
n = int(input(""))
score_w = input("").split()
score_n = [int(i) for i in score_w]
total = 0

for i in range(n):
    total += score_n[i] / max(score_n) * 100
    
print(total / n)

3
40 80 60
75.0

In [95]:
C = int(input())

while C > 0:
    n_good, percentage = 0, 0.0 #평균 넘는 학생 수 , 비율
    
    scores = v
    n = scores.pop(0)
    average = sum(scores) / n

    for score in scores: 
        if score > average:
            n_good += 1
    percentage = n_good / n * 100

    print(f"{percentage:.3f}%")
    
    C -= 1

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%

In [97]:
for i in range(int(input())):
    a = input()
    score = 0
    sumscore = 0
    
    for j in a:
        if j == "O":
            score += 1
            sumscore += score
        else:
            score = 0
    print(sumscore)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30