# 1 : 입출력과 사칙연산

In [1]:
#Hello World!를 화면에 출력하는 문제
print("Hello World!")

Hello World!

In [3]:
#두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력한다.
print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

In [12]:
#고양이를 출력한다.
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print("\\(__)|")

\    /\
 )  ( ')
(  /  )
\(__)|

In [13]:
#개를 출력한다.
print("|\_/|")
print("|q p|   /}")
print('( 0 )"""\\')
print('|"^"`    |')
print("||_/=\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\__|

In [16]:
#첫째 줄에 A+B를 출력한다.
a, b = map(int, input().split(' '))
print(a + b)

1 2
3

In [18]:
#첫째 줄에 A-B를 출력한다.
a, b = map(int, input().split(' '))
print(a - b)

3 2
1

In [19]:
#첫째 줄에 A×B를 출력한다.
a, b = map(int, input().split(' '))
print(a * b)

1 2
2

In [21]:
#첫째 줄에 A/B를 출력한다. 실제 정답과 출력값의 절대오차 또는 상대오차가 10-9 이하이면 정답이다.
a, b = map(int, input().split(' '))
print(a / b)

1 3
0.3333333333333333

In [23]:
#첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.
a, b = map(int, input().split(' '))
print(a + b)
print(a - b)
print(a * b)
print(a // b)
print(a % b)

7 3
10
4
21
2
1

In [24]:
#첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.
a, b, c = map(int, input().split(' '))
print((a + b) % c)
print(((a % c) + (b + c)) % c)
print((a * b) % c)
print(((a % c) * (b % c)) % c)

5 8 4
1
1
0
0

In [26]:
#첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.
a = int(input())
b = input()

print(a * int(b[2]))
print(a * int(b[1]))
print(a * int(b[0]))
print(a * int(b))

472
385
2360
3776
1416
181720

# 2 : if

In [48]:
a, b = map(int, input().split(' '))

if a > b:
    print(" > ")
if a < b:
    print(" < ")
if a == b:
    print(" = ")

1 2
 <

In [50]:
s = int(input())

if s >= 90 and s <= 100:
    print('A')
elif s >= 80 and s < 90:
    print('B')
elif s >= 70 and s < 80:
    print('C')
elif s >= 60 and s < 70:
    print('D')
else:
    print('E')

100
A

In [55]:
a = int(input())

if (a % 4 == 0 and (a % 100 != 0 or a % 400 == 0)):
    print('1')
else:
    print('0')

1999
0

In [58]:
a = int(input())
b = int(input())

if (a > 0 and b > 0):
    print('1')
elif (a < 0 and b > 0):
    print('2')
elif (a < 0 and b < 0):
    print('3')
elif (a > 0 and b < 0):
    print('4')

9
-13
4

In [63]:
H, M = map(int, input().split(' '))

if (M - 45 >= 0):
    print(H, M - 45)
elif (M - 45 < 0):
    if H - 1 >= 0:
        print(H - 1, M + 15)
    else:
        print(H + 23, M + 15)

0 30
23 45

In [64]:
H, M = map(int, input().split(' '))

if (M - 45 >= 0):
    print(H, M - 45)
elif (M - 45 < 0):
    print(H - 1, M + 15)

10 10
9 25

# 3 : for

In [6]:
n = int(input())

for i in range(1, 10):
    print(n, " * ", i, " = ", n * i)

2
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

In [5]:
n = int(input())

for i in range(n):
    a,b = map(int, input().split())
    print(a+b)
    i += 1

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [12]:
n = int(input())
a = 0

for i in range(0, n + 1):
    a += i
    i +=1
print(a)

3
6

In [ ]:
import sys

n = int(input())
for i in range(n):
    a,b = map(int, sys.stdin.readline().split())
    print(a+b)
    i += 1

In [24]:
n = int(input())
for i in range(1, n + 1):
    print(i)
    i += 1

5
1
2
3
4
5

In [27]:
n = int(input())
for i in range(0, n):
    print(n - i)
    i += 1

5
5
4
3
2
1

In [29]:
n = int(input())

for i in range(1, n+ 1):
    a,b = map(int, input().split(' '))
    print("Case #{0}: ".format(i), a + b)

5
1 1
Case #1:  2
2 3
Case #2:  5
3 4
Case #3:  7
9 8
Case #4:  17
5 2
Case #5:  7

In [31]:
n = int(input())

for i in range(1, n+ 1):
    a,b = map(int, input().split(' '))
    print("Case #{0}: {1} + {2} = {3}".format(i, a, b, a+b))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [32]:
n = int(input())

for i in range(1, n + 1):
    print("*" * i)

5
*
**
***
****
*****

In [37]:
n = int(input())

for i in range(1, n + 1):
    print(" " * (n - i) + "*" * i)

5
    *
   **
  ***
 ****
*****

In [38]:
n = int(input())

for i in range(1, n + 1):
    print(" " * (n - i) , end = "")
    print("*" * i)

5
    *
   **
  ***
 ****
*****

In [47]:
n, x = map(int, input().split(' '))
num = list(map(int, input().split(' ')))

for i in range (n):
    if num[i] < x:
        print(num[i], end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

# 4 : while

In [68]:
while (True):
    a, b = map(int, input().split(' '))
    if a != 0 and b != 0:
        print(a + b)
    
    if a == 0 and b == 0:
        break

2 3
5
3 4
7
5 7
12
0 0

In [74]:
while True:
    try: #종속 문장 실행
        a, b = map(int, input().split(' '))
        print(a + b)
    except: #종속 문장 외 실행
        break

1 1
2
2 3
5
9 8
17
5 2
7
0

In [79]:
n = int(input())
temp = n
count = 0

while True :
    left = temp // 10 #왼쪽자리 수 #한자리 수의 경우 10으로 나눈 몫이 0임
    right = temp % 10 #오른쪽 자리 수 
    add = (left + right) % 10 
    temp = (right * 10) + add
    
    count += 1
    if temp == n:
        print(count)
        break

26
4

# 5 : 1차원 배열

In [80]:
n = int(input())
a = list(map(int, input().split()))

print(min(a), max(a))

5
20 10 35 30 7
7 35

In [85]:
A = []

for i in range(9):
    a = int(input())
    A.append(a)
print(max(A))
print(A.index(max(A)) + 1)

3
29
38
12
57
74
40
85
61
85
8

In [86]:
a = int(input())
b = int(input())
c = int(input())

d = a * b* c
e = list(map(int, str(d)))

for i in range(10):
    f = 0
    for j in e:
        if (j == i):
            f += 1
            
    print(f)

150
266
427
3
1
0
2
0
0
0
2
0
0

In [88]:
nums = set()
for i in range(10):
    nums.add(int(input()) % 42)
print(len(nums))

1
2
3
4
5
6
7
8
9
10
10

In [90]:
n = int(input(""))
score_w = input("").split()
score_n = [int(i) for i in score_w]
total = 0

for i in range(n):
    total += score_n[i] / max(score_n) * 100
    
print(total / n)

3
40 80 60
75.0

In [95]:
C = int(input())

while C > 0:
    n_good, percentage = 0, 0.0 #평균 넘는 학생 수 , 비율
    
    scores = v
    n = scores.pop(0)
    average = sum(scores) / n

    for score in scores: 
        if score > average:
            n_good += 1
    percentage = n_good / n * 100

    print(f"{percentage:.3f}%")
    
    C -= 1

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%

In [97]:
for i in range(int(input())):
    a = input()
    score = 0
    sumscore = 0
    
    for j in a:
        if j == "O":
            score += 1
            sumscore += score
        else:
            score = 0
    print(sumscore)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

# 6 : 함수

In [27]:
#정수 n개가 주어졌을 때, n개의 합을 구하는 함수를 작성하시오.
def solve(a):
    return(sum(a))

In [28]:
#**10,000보다 작거나 같은 셀프 넘버를 한 줄에 하나씩 증가하는 순서로 출력한다.
def selfnumber(a):
    a = a + sum(map(int, str(a)))
    return a

a = [0] * 10001

for i in range(1, 10001):
    a[i] = selfnumber(i)
    
for i in range(1, 10001):
    if(i not in a):
        print(i)

1
3
5
7
9
20
31
42
53
64
75
86
97
108
110
121
132
143
154
165
176
187
198
209
211
222
233
244
255
266
277
288
299
310
312
323
334
345
356
367
378
389
400
411
413
424
435
446
457
468
479
490
501
512
514
525
536
547
558
569
580
591
602
613
615
626
637
648
659
670
681
692
703
714
716
727
738
749
760
771
782
793
804
815
817
828
839
850
861
872
883
894
905
916
918
929
940
951
962
973
984
995
1006
1021
1032
1043
1054
1065
1076
1087
1098
1109
1111
1122
1133
1144
1155
1166
1177
1188
1199
1210
1212
1223
1234
1245
1256
1267
1278
1289
1300
1311
1313
1324
1335
1346
1357
1368
1379
1390
1401
1412
1414
1425
1436
1447
1458
1469
1480
1491
1502
1513
1515
1526
1537
1548
1559
1570
1581
1592
1603
1614
1616
1627
1638
1649
1660
1671
1682
1693
1704
1715
1717
1728
1739
1750
1761
1772
1783
1794
1805
1816
1818
1829
1840
1851
1862
1873
1884
1895
1906
1917
1919
1930
1941
1952
1963
1974
1985
1996
2007
2022
2033
2044
2055
2066
2077
2088
2099
2110
2112
2123
2134
2145
2156
2167
2178
2189
2200
2211
2213
2224
2235
2246
2257
2268
2279
2290
2301
2312
2314
2325
2336
2347
2358
2369
2380
2391
2402
2413
2415
2426
2437
2448
2459
2470
2481
2492
2503
2514
2516
2527
2538
2549
2560
2571
2582
2593
2604
2615
2617
2628
2639
2650
2661
2672
2683
2694
2705
2716
2718
2729
2740
2751
2762
2773
2784
2795
2806
2817
2819
2830
2841
2852
2863
2874
2885
2896
2907
2918
2920
2931
2942
2953
2964
2975
2986
2997
3008
3023
3034
3045
3056
3067
3078
3089
3100
3111
3113
3124
3135
3146
3157
3168
3179
3190
3201
3212
3214
3225
3236
3247
3258
3269
3280
3291
3302
3313
3315
3326
3337
3348
3359
3370
3381
3392
3403
3414
3416
3427
3438
3449
3460
3471
3482
3493
3504
3515
3517
3528
3539
3550
3561
3572
3583
3594
3605
3616
3618
3629
3640
3651
3662
3673
3684
3695
3706
3717
3719
3730
3741
3752
3763
3774
3785
3796
3807
3818
3820
3831
3842
3853
3864
3875
3886
3897
3908
3919
3921
3932
3943
3954
3965
3976
3987
3998
4009
4024
4035
4046
4057
4068
4079
4090
4101
4112
4114
4125
4136
4147
4158
4169
4180
4191
4202
4213
4215
4226
4237
4248
4259
4270
4281
4292
4303
4314
4316
4327
4338
4349
4360
4371
4382
4393
4404
4415
4417
4428
4439
4450
4461
4472
4483
4494
4505
4516
4518
4529
4540
4551
4562
4573
4584
4595
4606
4617
4619
4630
4641
4652
4663
4674
4685
4696
4707
4718
4720
4731
4742
4753
4764
4775
4786
4797
4808
4819
4821
4832
4843
4854
4865
4876
4887
4898
4909
4920
4922
4933
4944
4955
4966
4977
4988
4999
5010
5025
5036
5047
5058
5069
5080
5091
5102
5113
5115
5126
5137
5148
5159
5170
5181
5192
5203
5214
5216
5227
5238
5249
5260
5271
5282
5293
5304
5315
5317
5328
5339
5350
5361
5372
5383
5394
5405
5416
5418
5429
5440
5451
5462
5473
5484
5495
5506
5517
5519
5530
5541
5552
5563
5574
5585
5596
5607
5618
5620
5631
5642
5653
5664
5675
5686
5697
5708
5719
5721
5732
5743
5754
5765
5776
5787
5798
5809
5820
5822
5833
5844
5855
5866
5877
5888
5899
5910
5921
5923
5934
5945
5956
5967
5978
5989
6000
6011
6026
6037
6048
6059
6070
6081
6092
6103
6114
6116
6127
6138
6149
6160
6171
6182
6193
6204
6215
6217
6228
6239
6250
6261
6272
6283
6294
6305
6316
6318
6329
6340
6351
6362
6373
6384
6395
6406
6417
6419
6430
6441
6452
6463
6474
6485
6496
6507
6518
6520
6531
6542
6553
6564
6575
6586
6597
6608
6619
6621
6632
6643
6654
6665
6676
6687
6698
6709
6720
6722
6733
6744
6755
6766
6777
6788
6799
6810
6821
6823
6834
6845
6856
6867
6878
6889
6900
6911
6922
6924
6935
6946
6957
6968
6979
6990
7001
7012
7027
7038
7049
7060
7071
7082
7093
7104
7115
7117
7128
7139
7150
7161
7172
7183
7194
7205
7216
7218
7229
7240
7251
7262
7273
7284
7295
7306
7317
7319
7330
7341
7352
7363
7374
7385
7396
7407
7418
7420
7431
7442
7453
7464
7475
7486
7497
7508
7519
7521
7532
7543
7554
7565
7576
7587
7598
7609
7620
7622
7633
7644
7655
7666
7677
7688
7699
7710
7721
7723
7734
7745
7756
7767
7778
7789
7800
7811
7822
7824
7835
7846
7857
7868
7879
7890
7901
7912
7923
7925
7936
7947
7958
7969
7980
7991
8002
8013
8028
8039
8050
8061
8072
8083
8094
8105
8116
8118
8129
8140
8151
8162
8173
8184
8195
8206
8217
8219
8230
8241
8252
8263
8274
8285
8296
8307
8318
8320
8331
8342
8353
8364
8375
8386
8397
8408
8419
8421
8432
8443
8454
8465
8476
8487
8498
8509
8520
8522
8533
8544
8555
8566
8577
8588
8599
8610
8621
8623
8634
8645
8656
8667
8678
8689
8700
8711
8722
8724
8735
8746
8757
8768
8779
8790
8801
8812
8823
8825
8836
8847
8858
8869
8880
8891
8902
8913
8924
8926
8937
8948
8959
8970
8981
8992
9003
9014
9029
9040
9051
9062
9073
9084
9095
9106
9117
9119
9130
9141
9152
9163
9174
9185
9196
9207
9218
9220
9231
9242
9253
9264
9275
9286
9297
9308
9319
9321
9332
9343
9354
9365
9376
9387
9398
9409
9420
9422
9433
9444
9455
9466
9477
9488
9499
9510
9521
9523
9534
9545
9556
9567
9578
9589
9600
9611
9622
9624
9635
9646
9657
9668
9679
9690
9701
9712
9723
9725
9736
9747
9758
9769
9780
9791
9802
9813
9824
9826
9837
9848
9859
9870
9881
9892
9903
9914
9925
9927
9938
9949
9960
9971
9982
9993

In [29]:
#첫째 줄에 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력한다.
def hansu(n):
    if n < 100:
        return True

    a = n // 100
    b = n // 10 % 10
    c = n % 10
    return a + c == 2 * b

n = int(input())

count = 0
for n in range(1, n + 1):
    if hansu(n):
        count += 1

print(count)

110
99

# 7 : 문자열

In [30]:
#입력으로 주어진 글자의 아스키 코드 값을 출력한다.
# ord : 문자의 유니코드 값을 돌려주는 내장함수
# chr : 유니코드값을 입력받아 그 코드에 해당하는 문자를 출력하는 함수

print(ord(input()))

A
65

In [36]:
#입력으로 주어진 숫자 N개의 합을 출력한다.
a = int(input())
b = input()

sum_b = 0
for i in range(0, a):
    sum_b += int(b[i])
    
print(sum_b)

11
10987654321
46

In [37]:
#각각의 알파벳에 대해서, a가 처음 등장하는 위치, b가 처음 등장하는 위치, ... z가 처음 등장하는 위치를 공백으로 구분해서 출력한다.
s = input()
a = 'abcdefghijklmnopqrstuvwxyz'

for i in a:
    print(s.find(i), end = ' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [44]:
## 문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성하시오.
a = int(input())
for i in range(a):
    n, s = map(str, input().split(' '))
    for j in range(0, len(s)):
        print(int(n)*s[j], end = '')

2
3 ABC
AAABBBCCC5 /HTP
/////HHHHHTTTTTPPPPP

In [49]:
# 첫째 줄에 이 단어에서 가장 많이 사용된 알파벳을 대문자로 출력한다. 단, 가장 많이 사용된 알파벳이 여러 개 존재하는 경우에는 ?를 출력한다.
s = input().upper()
a = list(set(s))
b = []

for i in a:
    count = s.count(i)
    b.append(count)

if b.count(max(b)) > 1:
    print("?")
else:
    print(a[b.index(max(b))])

baaa
A

In [56]:
#영어 대소문자와 공백으로 이루어진 문자열이 주어진다. 이 문자열에는 몇 개의 단어가 있을까? 이를 구하는 프로그램을 작성하시오.
s = input().split()
print(len(s))

 The first character is a blank
6

In [61]:
#첫째 줄에 상수의 대답을 출력한다.
a, b = map(list, input().split(' '))
num_a = list(a)
num_b = list(b)

num_a.reverse()
num_b.reverse()

x =int(num_a[0] + num_a[1] + num_a[2])
y =int(num_b[0] + num_b[1] + num_b[2])

if x > y:
    print(x)
else:
    print(y)

839 237
938

In [63]:
#첫째 줄에 다이얼을 걸기 위해서 필요한 최소 시간을 출력한다.
number = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']

a = list(input())
result = 0

for i in a:
    for j in number:
        if i in j:
            result += number.index(j) + 3
            
print(result)

UNUCIC
36

In [68]:
#**입력으로 주어진 단어가 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.
a = 'c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z='
s = input()

for i in a:
    s = s.replace(i, '^')
print(len(s))

dz=ak
3

In [71]:
N=int(input())
for i in range(N):
    a=input()
    if list(a)!=sorted(a,key=a.find):
        N-=1
print(N)

3
happy
new
year
3

# 8 : 기본 수학1

In [7]:
#첫 번째 줄에 손익분기점 즉 최초로 이익이 발생하는 판매량을 출력한다. 손익분기점이 존재하지 않으면 -1을 출력한다
a, b, c = map(int, input().split(' '))
i = 0

if b >= c :
    print("-1")
else:
    print(int(a/(c-b) + 1))

2100000000 9 10
2100000001

In [16]:
#중앙의 방 1부터 시작해서 이웃하는 방에 돌아가면서 1씩 증가하는 번호를 주소로 매길 수 있다.
#숫자 N이 주어졌을 때, 벌집의 중앙 1에서 N번 방까지 최소 개수의 방을 지나서 갈 때 몇 개의 방을 지나가는지(시작과 끝을 포함하여)를 계산하는 프로그램을 작성하시오.

a = int(input())
num = 1
count = 1

while a > num: #입력 값이 벌집 숫자보다 작을 때 까지 반복
    num += 6 * count
    count += 1

print(count)

13
3

In [15]:
# 분수 찾기 : X가 주어졌을 때, X번째 분수를 구하는 프로그램을 작성하시오.

n = int(input())

num = 0
i = 0

while num < n:
    i += 1
    num += i
if i % 2 == 0:
    a = i + n - num
    b = 1 + num - n

elif i % 2 != 0:
    a = 1 + num - n
    b = 1 + n - num

print(a, b)

8
2 3

In [5]:
#달팽이는 올라가고 싶다 : 높이가 V미터인 나무 막대를 올라갈 것이다.
#달팽이는 낮에 A미터 올라갈 수 있다.
#밤에 잠을 자는 동안 B미터 미끄러진다
#첫째 줄에 달팽이가 나무 막대를 모두 올라가는데 며칠이 걸리는지 출력한다.

a, b, v = map(int, input().split(' '))

i = (v - a) / (a - b) + 1

if (i == int(i)):
    print(int(i))
else:
    print(int(i) + 1)

100 99 1000000000
999999901

In [6]:
# **
# ACM 호텔 : 호텔 정문으로부터 걷는 거리가 가장 짧도록 방을 배정하는 프로그램
# 엘레베이터거리x 단, 걷는 거리가 같을 때에는 아래층의 방을 더 선호
# h : 호텔 층 수, w : 각 층의 방 수, n : 몇 번째 손님, t : 테스트 개수

t = int(input())

for i in range(t):
    h, w, n = map(int, input().split(' '))
    if n % h == 0:
        if n // h > 9:
            print(h,(n // h), sep = "")
        else:
            print(h, "0",(n // h), sep = "")
    else:
        if (n // h >= 9):
            print(n % h, (n // h) + 1, sep = "")
        else:
           print(n % h, "0", (n // h) + 1, sep = "")

2
6 12 10
402
30 50 72
1203

In [9]:
# ACM 호텔 : zfill() 이용하기
# zfill : 문자열.zfill(전체문자열의 길이)
# "1".zfill(2) >> "01" 출력

t = int(input())

for i in range(t):
    room_number = []
    h, w, n = map(int, input().split())
    for w in range(1, w + 1):
        for h in range(1, h + 1):
            room_number.append(str(h) + str(w).zfill(2))
    print(room_number[n-1])

2
6 12 10
402
30 50 72
1203

In [13]:
# 부녀회장이 될테야
#“a층의 b호에 살려면 자신의 아래(a-1)층의 1호부터 b호까지 사람들의 수의 합만큼 사람들을 데려와
# 주어지는 양의 정수 k와 n에 대해 k층에 n호에는 몇 명이 살고 있는지 출력하라.
# 단, 아파트에는 0층부터 있고 각층에는 1호부터 있으며, 0층의 i호에는 i명이 산다.

t = int(input())

for i in range(t):
    floor = [x for x in range(1, 16)]
    building = []
    
    for y in range(15):
        building.append(floor)
    
    a = int(input())
    b = int(input())
    
    for j in range(1, 15):
        if j > a:
            break
        
        for k in range(1, 15):
            building[j][k] = building[j - 1][k] + building[j][k - 1]
    print(building[a][b-1])

2
1
3
6
2
3
10

In [16]:
# 설탕 배달 : 봉지는 3킬로그램 봉지와 5킬로그램 봉지가 있다.
# 최대한 적은 봉지를 들고 가려고 한다.
# 상근이가 설탕을 정확하게 N킬로그램 배달해야 할 때, 봉지 몇 개를 가져가면 되는지 그 수를 구하는 프로그램을 작성하시오.
#상근이가 배달하는 봉지의 최소 개수를 출력한다. 만약, 정확하게 N킬로그램을 만들 수 없다면 -1을 출력한다.

a = int(input())
n = 0

while a >= 0:
    if a % 5 == 0:
        print(a // 5 + n)
        break
    a -= 3
    n += 1

else:
    print(-1)

4
-1

In [17]:
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

a, b = map(int, input().split(" "))
print(a + b)

9223372036854775807 9223372036854775808
18446744073709551615

In [22]:
# Fly me to the Alpha Centauri
# 이전 작동시기에 k광년을 이동하였을 때는 k-1 , k 혹은 k+1 광년만을 다시 이동할 수 있다
# x지점에서 y지점을 향해 최소한의 작동 횟수로 이동
# x지점부터 정확히 y지점으로 이동하는데 필요한 공간 이동 장치 작동 횟수의 최솟값을 구하는 프로그램을 작성하라.

t = int(input())

for _ in range(t):
    x, y = map(int, input().split(" "))
    num = y - x
    
    i = 1
    while True:
        n = 2 * i -1
        
        if num == i ** 2:
            break
        elif num - i ** 2 <= i:
            n += 1
            break
        elif num - i ** 2 < 2 * i + 1:
            n += 2
            break
        else:
            i += 1
    print(n)

3
0 3
3
1 5
3
45 50
4

# 9 : 기본 수학 2

In [26]:
# 소수 찾기
# 주어진 수 N개 중에서 소수가 몇 개인지 찾아서 출력하는 프로그램을 작성하시오.

n = int(input())
numbers = list(map(int, input().split()))
count = 0

for i in numbers:
    a = 0
    if i > 1:
        for j in range(2, i):
            if i % j == 0:
                a = 1
                break
        if a == 0:
            count += 1

print(count)

4
1 3 5 7
3

In [29]:
# 소수 
# M이상 N이하의 자연수 중 소수인 것을 모두 찾아 첫째 줄에 그 합을, 둘째 줄에 그 중 최솟값을 출력한다. 
# 단, M이상 N이하의 자연수 중 소수가 없을 경우는 첫째 줄에 -1을 출력한다.

m = int(input())
n = int(input())

list1 = [] #수 범위 내 모든 숫자
list2 = [] #수 범위 내 소수

for i in range(m, n + 1):
    list1.append(i)
    
for j in list1:
    check = 0
    if j > 1:
        for k in range(2, j):
            if j % k == 0:
                check = 1
                break
        if check == 0:
            list2.append(j)
if len(list2):
    print(sum(list2))
    print(min(list2))
else:
    print(-1)

64
65
-1

In [31]:
# 소인수분해
# 정수 N이 주어졌을 때, 소인수분해하는 프로그램을 작성하시오.

n = int(input())
a = 2
m = n

while True:
    if a > m:
        break
    if m % a == 0:
        print(a)
        m = m // a
    else:
        a += 1

9991
97
103

In [32]:
# 소수 구하기
# M이상 N이하의 소수를 모두 출력하는 프로그램을 작성하시오.

m, n = map(int, input().split())

list1 = []

for i in range(m, n + 1):
    list1.append(i)

for j in list1:
    check = 0
    if j > 1:
        for k in range(2, j):
            if j % k == 0:
                check = 1
                break
        if check == 0:
            print(j)

3 16
3
5
7
11
13

In [33]:
# **
# 베르트랑 공준
# 베르트랑 공준은 임의의 자연수 n에 대하여, n보다 크고, 2n보다 작거나 같은 소수는 적어도 하나 존재한다는 내용
#  n보다 크고, 2n보다 작거나 같은 소수의 개수를 출력한다.

max_number = 123456 * 2 + 1
check_list = [True for i in range(max_number)]

for i in range(2, int(max_number ** 0.5) + 1):
    if check_list[i] == True:
        j = 2
        while i * j <= max_number:
            check_list[i * j] = False
            j += 1

while True:
    cnt = 0
    a = int(input())
    b = 2 * a
    if a == 0:
        break
    
    for i in range(a + 1, b + 1):
        if check_list[i]:
            cnt += 1
    print(cnt)

1
1
10
4
13
3
100
21
1000
135
10000
1033
100000
8392
0

In [37]:
# **
# 골드바흐의 추측 : 2보다 큰 모든 짝수는 두 소수의 합으로 나타낼 수 있다는 것
# 2보다 큰 짝수 n이 주어졌을 때, n의 골드바흐 파티션을 출력하는 프로그램을 작성하시오.

#함수 : 소수 판별
def sosu(a):
    if a==1:
        return False
    else:
        for i in range(2,int(a**0.5)+1):
            if a%i==0:
                return False
        return True
#소수 리스트 생성
list=[]#소수리스트
for i in range(2,10001):
    if sosu(i)==True:
        list.append(i)

#골드 바흐 파티션 함수
def gold(n):
    a=list[0]
    for i in list:#소수중
        x = a #새로운 파티션 원소의 직전 보관, 혹시나 새로운파티션(a)가 두 조건을 충족시키지 못할 것 대비
        a = i# 첫 번째 파티션원소 지정
        if n - a not in list:#조건1: 두 번째 원소가 소수여야됨. 이를 성립시키지 못하는 걸 거르기위한 조건
           a = x# 조건 충족 안되서 보관되있던걸 다시 a로
           continue
        if a > n - a:#조건2: 두 번째 원소는 소수가 맞다만(첫번째 조건 충족),첫원소>두번째원소 기에 보관되있던(직전의 파티션)을 출력한다.
                return print(x, n - x)
        elif a == n - a:#조건2-2: 첫 번째 원소==두 번째 원소면은 그냥 지금 있는거 그대로(a,n-a)출력.
            return print(a,n-a)

#입력:t(testcase), 4<=n<=10000
t = int(input())
for i in range(t):
    n = int(input())
    gold(n)

3
8
3 5
10
5 5
16
5 11

In [40]:
# 직사각형에서 탈출
# 지금 위치는 (x, y)
# 각 변이 좌표축에 평행하고, 왼쪽 아래 꼭짓점은 (0, 0), 오른쪽 위 꼭짓점은 (w, h)
# 직사각형의 경계선까지 가는 거리의 최솟값을 구하는 프로그램을 작성하시오.

x, y, w, h = map(int, input().split())

result = min(x, y, w-x, h - y)

print(result)

161 181 762 375
161

In [1]:
# 네 번째 점
# 세 점이 주어졌을 때, 축에 평행한 직사각형을 만들기 위해서 필요한 네 번째 점을 찾는 프로그램을 작성하시오.

a = list(map(int, input().split(" ")))
b = list(map(int, input().split(" ")))
c = list(map(int, input().split(" ")))

if a[0] == b[0]:
    x = c[0]
elif a[0] == c[0]:
    x = b[0]
else:
    x = a[0]
    
if a[1] == b[1]:
    y = c[1]
elif a[1] == c[1]:
    y = b[1]
else:
    y = a[1]
    
print(x, y)

5 5
5 7
7 5
7 7

In [5]:
# 직각삼각형
# 주어진 세변의 길이로 삼각형이 직각인지 아닌지 구분하시오.
# 각 입력에 대해 직각 삼각형이 맞다면 "right", 아니라면 "wrong"을 출력한다.

while True:
    n = list(map(int, input().split()))
    
    if (n[0] == 0 and n[1] == 0 and n[2] == 0):
        break
    
    n.sort()
    
    if (n[0]**2 + n[1]**2 == n[2]**2):
        print("right")
    else:
        print("wrong")

6 8 10
right
25 52 60
wrong
5 12 13
right
0 0 0

In [9]:
# 택시 기하학 : D(T1,T2) = |x1-x2| + |y1-y2|
# 반지름 R이 주어졌을 때, 유클리드 기하학에서 원의 넓이와, 택시 기하학에서 원의 넓이를 구하는 프로그램을 작성하시오.

r = int(input())
pi = 3.141593

print(round(pi * (r**2), 6)) #유클리드 기하학
print(round((r**2) * 2, 6)) #택시 기하학

1
3.141593
2

In [12]:
# **
# 터렛
n = int(input())

for i in range(n):
  x1, y1, r1, x2, y2, r2 = map(int, input().split())
  r = ( (x1-x2)**2 + (y1-y2)**2 ) ** (1/2)
  
  if (r==0 and r1==r2) :
    print(-1)
  elif r > (r1 + r2) or r < abs(r1-r2):
    print(0)
  elif r == r1+r2 or r == abs(r1-r2) :
    print(1)
  else :
    print(2)

3
0 0 13 40 0 37
2
0 0 3 0 7 4
1
1 1 1 1 1 5
0

# 10 : 재귀 단계

In [15]:
# 팩토리얼
#0보다 크거나 같은 정수 N이 주어진다. 이때, N!을 출력하는 프로그램을 작성하시오.

def solve(num):
    if num <= 0:
        return 1
    return num * solve(num - 1)

n = int(input())

result = solve(n)

print(result)

10
3628800

In [17]:
# 피보나치 수 5
#  Fn = Fn-1 + Fn-2 (n ≥ 2)
# n이 주어졌을 때, n번째 피보나치 수를 구하는 프로그램을 작성하시오.

def solve(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    return solve(num - 1) + solve(num -2)

a = int(input())
print(solve(a))

10
55

In [18]:
# ** 
#별 찍기

n = int(input())

star =[[' ' for _ in range(n)] for _ in range(n)]

def stars (size, x, y):
    if size == 1:
        star[x][y] = "*"
    else:
        next_size = size // 3
        for dy in range(3):
            for dx in range(3):
                if dy != 1 or dx != 1:
                    stars(next_size, x + dx * next_size, y + dy * next_size)
stars(n, 0, 0)
for k in star:
    print("".join(k))

27
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************
*********         *********
* ** ** *         * ** ** *
*********         *********
***   ***         ***   ***
* *   * *         * *   * *
***   ***         ***   ***
*********         *********
* ** ** *         * ** ** *
*********         *********
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************

In [20]:
# 하노이 탑 이동 순서

def hanoi(num, a, b, c):
    if (num == 1):
        print(a, c)
    else:
        hanoi(num - 1, a, c, b)
        print(a, c)
        hanoi(num - 1, b, a, c)
    
n = int(input())
print((2**n)-1)
hanoi(n, 1, 2, 3)

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3