# 1

다음 리스트에서 400, 500를 삭제하는 code를 입력하세요.

```python
nums = [100, 200, 300, 400, 500]
```

In [5]:
nums = [100, 200, 300, 400, 500]
del nums[3:]
print(nums)

[100, 200, 300]

# 2
```python
l = [200, 100, 300]
<pass>
print(l)
```

<pass>부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하세요.


```python
[200, 100, 10000, 300]
```

In [7]:
l = [200, 100, 300]
l.insert(2,1000)
print(l)

[200, 100, 1000, 300]

# 3
- 다음 출력 값으로 올바른 것은?

```python
l = [100, 200, 300]
print(type(l))
```

1)  class 'str'
2)  class 'int'
3)  class 'list'
4)  class 'tuple'

In [8]:
# 답 : 3번

# 4
다음 변수 a를 print(type(a))로 넣었을 때 출력될 값과의 연결이 알맞지 않은 것은?

1)  입력 : a =1,   출력 : class 'int'

2)  입력 : a = 2.22,   출력 : class 'float'

3)  입력 : a = 'p',   출력 : class 'char'

4)  입력 : a = [1, 2, 3],   출력 : class 'list'

In [9]:
# 답 : 3번

# 5
- 다음 코드의 출력 값으로 알맞은 것은?

```python
a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a+b)
```

1)  10
2)  12
3)  14
4)  16

In [11]:
# 답 : 4

# 6
다음은 파이썬 문법 중에서 False로 취급하는 것들 입니다.
앗, False로 취급하지 않는 것이 하나 있네요! True를 찾아주세요.

1)  None
2)  1
3)  ""
4)  0
5)  bool(0)

In [12]:
# 답 : 2번

# 7
다음 중 변수명으로 사용할 수 없는 것 2개를 고르시오.

1)  age
2)  a
3)  as
4)  _age
5)  1age

In [13]:
# 3번, 5번

# 8
딕셔너리를 다음과 같이 만들었다. 
출력값을 입력하시오. (출력값은 공백을 넣지 않습니다. )

```python
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])
```

In [16]:
84

84

# 9
다음 소스 코드를 완성하여 날짜와 시간을 출력하시오.

```python
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, )
print(hour, minute, second, )
```

출력

```python
2019/04/26 11:34:27
```

In [20]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep = '/', end = ' ')
print(hour, minute, second, sep = ':')

2019/04/26 11:34:27

# 10
### 입출력 예시

입력

```python
5
```

출력

```python
    *
   ***
  *****
 *******
*********
```

In [22]:
a = int(input())
for i in range(1, a+1):
    print(" "*(a-i)+"*"*(2*i-1))

5
    *
   ***
  *****
 *******
*********

In [2]:
for i in range(1,10,2):
    for k in range(0, (12 - i) // 2):
        print("{}".format(" "), end = '')
        
    for j in range(0,i):
        print('{}'.format('*'), end = '')
        
    print(" ")

     *
    ***
   *****
  *******
 *********